.row
	h1 You have been selected "{{selectedLevel}}" as a level.
.row.jumbotron
	p “DeX” is a friendly alien from planet “Greco” and his spaceship is crash landed to the Earth. “DeX” needs your support to fix the ship and to make his way back to home. How you can help?
	p DeX will ask for some chemicals to repair his spaceship. You have to prepare the chemical and give it to “DeX”.
	div
		a(class='btn btn-primary', href='/users/{{userId}}/vLabs/{{vLabId}}/level/{{vLabLevelId}}/storyLevel') Click to Begin Level {{nextLevelName}}	