.row
	h1 Level 1, Story Line
.row.jumbotron
	div 
		p After the crash fuel tank is damaged and all fuel got leaked out.  I need Hydrogen gas to refill the tanks. 
	div 	
		a(class='btn btn-primary', href='/users/{{userId}}/vLabs/{{vLabId}}/level/{{vLablevel}}/lab') Go to Lab