/* app css stylesheet */

body {
    padding-top: 70px;
}

.tool {
    /*border: 1px solid #808080;*/
}


.drop-area {
    width: 100%;
    height: 100%;
    min-height: 300px;
    border: 1px solid #0082ff;
}

.item-list li {
    display: table-cell;
    width: 50px;
    height: 50px;
    margin:0 5px 0 5px;
    padding: 0 1px 0 1px;
}

    .item-list li div {
        width: 50px;
        height: 50px;
    }
     .item-list li div img {
        width: 45px;
        height: 45px;
    }

.item-list {
    display: table;
    table-layout: fixed;
    margin: 1px;
     padding: 1px;
}


.kineticjs-content {
    width: 100%;
    height: 100%;
}

    .kineticjs-content canvas {
        width: 100%;
        height: 100%;
    }

.lab-items {
    border: 1px solid #808080;
    border-radius: 8px;
    min-height:100px;
}

.navbar {
	margin-bottom: 0 !important;
}

.msgImg{
    max-height:400px;
}

.msgImg img{
    max-height:400px;
}












.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    /*border: 2px dashed black !important;*/
}

.lvl-target {
    /* 
				applied to all drop targets when a drag operation begins 
				removed when the drag operation ends
				used to indicate drop targets on a page 
				*/
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    /* not applied by the directive, but useful to indicate a draggable element */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
    /*border: 1px solid black;*/
}
